---
layout: page
title: Know about us
permalink: /about/
---
<div class="div-justify">

    <p>After successfully working on CovidAPI.info, a set of APIs related to Covid-19 stats, empowering developers,
        hackers and makers across the globe we decided to build a chat bot which replies to user's queries regarding
        Coronavirus / Covid-19.
    </p>

    <p>
        The main motive behind this site was to try to curb the spread of rumours and unverified data circulated through
        many social media sites and applications. Hearing about the tragic deaths that happened to the people who tried
        to replicate or try out the therapies that were circulated via the so called <b>WhatsApp University</b> was
        enough to move us and motivate us to dedicate our time, energy and thoughts on this project.
    </p>

    <p>
        As two independent developers, we faced two main challenges in building a chat-bot:
    </p>
    <ol>
        <li>Sustain the costs of running a chat-bot for a few months</li>
        <li>Scattered data regarding Covid-19</li>
    </ol>
    <p>
        Still determined on tackling this problem, we changed our plans from a proper chat-bot to this site where all
        the FAQ are indexed and are easily searchable thus providing information in a similar manner. This approach also
        meant we could easily scale and reach a larger audience easily.
    </p>

    <p>
        For all the makers reading this, the code is open-sourced on GitHub and can be found
        <a href="https://github.com/backtrackbaba/covid-faq" class="href">here</a>. Contributions are always welcome!
    </p>

    <p>
        The information is accumulated from credible sources such as World Health Organization, Centers for Disease
        Control and Prevention USA, Ministry of Health and Family Welfare India, etc

        For a full list our sources, check out the <a href="/sources" class="href">Sources Page</a>
    </p>

    <p>
        We are now a team of Doctors and Engineers determined to fight against Covid19 (Corona Virus) by providing the
        right information.
    </p>

</div>

{% include cta.html
title="Interested in the project? Want to lend a hand?"
button_text="Reach out to us"
button_url="/contact/"
subtitle="We are actively looking for volunteers to help us drive this forward"
section="default"
%}

<hr>
<div class="uk-text-center">

</div>

{% include team.html
authors="sai, harsh"
title="Our Team"
section="default"
%}

<hr>

{% include cta.html
title="Didn't find an answer?"
button_text="Contact Us"
button_url="/contact/"
subtitle="Have a feedback or query? Found an inaccurate FAQ?"
section="default"
%}
