---
layout: page
title: Know about us
permalink: /about/
---
<div class="div-justify">
    After hearing about the tragic deaths and misfortunes that happened with the people who tried to replicate or try
    out the therapies that
    were circulated via the so called <b>WhatsApp University</b> we decided to create a platform which provides all the
    answers to the questions
    that you and everyone has related to Covid19 and enable you, the user to distinguish between facts and fake news.
    <br><br>
    The information is accumulated from credible sources such as World Health Organization, Centers for Disease
    Control and Prevention USA,
    Ministry of Health and Family Welfare India, etc

    For a full list our sources, check out the <a href="/sources" class="href">Sources Page</a>
    <br><br>

    <p>We are a team of Doctors and Engineers determined to fight against Covid19 (Corona Virus)
        by
        providing the right
        information.</p>

</div>

{% include cta.html
title="Interested in the project? Want to lend a hand?"
button_text="Reach out to us"
button_url="/contact/"
subtitle="We are actively looking for volunteers to help us drive this forward"
section="default"
%}

<hr>
<div class="uk-text-center">

</div>

{% include team.html
authors="sai, harsh"
title="Our Team"
section="default"
%}

<hr>

{% include cta.html
title="Didn't find an answer?"
button_text="Contact Us"
button_url="/contact/"
subtitle="Have a feedback or query? Found an inaccurate FAQ?"
section="default"
%}
